/* Main Styles */

body{ background: #000 }
/* ID Styles */
img #atom{ width: 50px; position: absolute; }
img #ufo{ width: 50px; position: absolute; top:0; left: 0; -webkit-transition: all 0.2s; }

#scoreTB{ position: absolute; color: #fff; }
#timeTB{ position: absolute; right: 50px; color: #fff; }
