/* Main Styles */

body{ background: #000 }
/* ID Styles */
#mazeHolder{ position: absolute; top: 0; left: 0; }
#player{ position:absolute; width: 50px;
	top:0; left: 0; -webkit-transition: all 0.2s; }
